In [1]:
# Import Dependancies
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [3]:
#Create Psotgres Engine
engine = create_engine("postgresql://postgres:diabetes11@database-diabetes.cuk0oswvixih.us-east-2.rds.amazonaws.com/postgres")

In [4]:
#Read Table from PostgresSQL
df = pd.read_sql('SELECT * from diabetes_db',engine)

In [5]:
#Format the results column
df['readmitted']=df['readmitted'].replace('NO', 0)
df['readmitted']=df['readmitted'].replace('>30', 1)
df['readmitted']=df['readmitted'].replace('<30', 1)

In [6]:
# Replace ? with others in Race column
df['race'] = df['race'].replace('?', 'Other')
for i in range(0,10):
    df['age'] = df['age'].replace('['+str(10*i)+'-'+str(10*(i+1))+')', i*10+5)

In [7]:
# Replace ? with NAN for the entire table
import numpy as np
df = df.replace(r'\?', np.nan, regex=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 51 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        101766 non-null  int64
 1   encounter_id              101766 non-null  int64
 2   patient_nbr               101766 non-null  int64
 3   race                      101766 non-null  object
 4   gender                    101766 non-null  object
 5   age                       101766 non-null  int64
 6   weight                    3197 non-null    object
 7   admission_type_id         101766 non-null  int64
 8   discharge_disposition_id  101766 non-null  int64
 9   admission_source_id       101766 non-null  int64
 10  time_in_hospital          101766 non-null  int64
 11  payer_code                61510 non-null   object
 12  medical_specialty         51817 non-null   object
 13  num_lab_procedures        101766 non-null  int64
 14  num_procedures            101766 non-null  int64
 15  num_medications           101766 non-null  int64
 16  number_outpatient         101766 non-null  int64
 17  number_emergency          101766 non-null  int64
 18  number_inpatient          101766 non-null  int64
 19  diag_1                    101745 non-null  object
 20  diag_2                    101408 non-null  object
 21  diag_3                    100343 non-null  object
 22  number_diagnoses          101766 non-null  int64
 23  max_glu_serum             101766 non-null  object
 24  a1cresult                 101766 non-null  object
 25  metformin                 101766 non-null  object
 26  repaglinide               101766 non-null  object
 27  nateglinide               101766 non-null  object
 28  chlorpropamide            101766 non-null  object
 29  glimepiride               101766 non-null  object
 30  acetohexamide             101766 non-null  object
 31  glipizide                 101766 non-null  object
 32  glyburide                 101766 non-null  object
 33  tolbutamide               101766 non-null  object
 34  pioglitazone              101766 non-null  object
 35  rosiglitazone             101766 non-null  object
 36  acarbose                  101766 non-null  object
 37  miglitol                  101766 non-null  object
 38  troglitazone              101766 non-null  object
 39  tolazamide                101766 non-null  object
 40  examide                   101766 non-null  object
 41  citoglipton               101766 non-null  object
 42  insulin                   101766 non-null  object
 43  glyburide_metformin       101766 non-null  object
 44  glipizide_metformin       101766 non-null  object
 45  glimepiride_pioglitazone  101766 non-null  object
 46  metformin_rosiglitazone   101766 non-null  object
 47  metformin_pioglitazone    101766 non-null  object
 48  change                    101766 non-null  object
 49  diabetesmed               101766 non-null  object
 50  readmitted                101766 non-null  int64
dtypes: int64(16), object(35)
memory usage: 39.6+ MB

In [9]:
#Drop columns with missing data
features_drop_list = ['encounter_id', 'patient_nbr', 'weight', 'payer_code', 'medical_specialty', 'repaglinide', 'nateglinide', 'chlorpropamide', 'acarbose', 'miglitol', 'troglitazone', 
'tolazamide', 'examide', 'citoglipton', 'glyburide_metformin', 'glipizide_metformin',
 'glimepiride_pioglitazone', 'metformin_rosiglitazone','metformin_pioglitazone', 'acetohexamide', 'tolbutamide']

df.drop(features_drop_list, axis=1,inplace=True)

In [10]:
#Check NAN Values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        101766 non-null  int64
 1   race                      101766 non-null  object
 2   gender                    101766 non-null  object
 3   age                       101766 non-null  int64
 4   admission_type_id         101766 non-null  int64
 5   discharge_disposition_id  101766 non-null  int64
 6   admission_source_id       101766 non-null  int64
 7   time_in_hospital          101766 non-null  int64
 8   num_lab_procedures        101766 non-null  int64
 9   num_procedures            101766 non-null  int64
 10  num_medications           101766 non-null  int64
 11  number_outpatient         101766 non-null  int64
 12  number_emergency          101766 non-null  int64
 13  number_inpatient          101766 non-null  int64
 14  diag_1                    101745 non-null  object
 15  diag_2                    101408 non-null  object
 16  diag_3                    100343 non-null  object
 17  number_diagnoses          101766 non-null  int64
 18  max_glu_serum             101766 non-null  object
 19  a1cresult                 101766 non-null  object
 20  metformin                 101766 non-null  object
 21  glimepiride               101766 non-null  object
 22  glipizide                 101766 non-null  object
 23  glyburide                 101766 non-null  object
 24  pioglitazone              101766 non-null  object
 25  rosiglitazone             101766 non-null  object
 26  insulin                   101766 non-null  object
 27  change                    101766 non-null  object
 28  diabetesmed               101766 non-null  object
 29  readmitted                101766 non-null  int64
dtypes: int64(14), object(16)
memory usage: 23.3+ MB

In [11]:
#Drop NAN Values
df= df.dropna()
df

,id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesmed,readmitted
1,2,Caucasian,Female,15,1,1,7,3,59,0,...,No,No,No,No,No,No,Up,Ch,Yes,1
2,3,AfricanAmerican,Female,25,1,1,7,2,11,5,...,No,No,Steady,No,No,No,No,No,Yes,0
3,4,Caucasian,Male,35,1,1,7,2,44,1,...,No,No,No,No,No,No,Up,Ch,Yes,0
4,5,Caucasian,Male,45,1,1,7,1,51,0,...,No,No,Steady,No,No,No,Steady,Ch,Yes,0
5,6,Caucasian,Male,55,2,1,2,3,31,6,...,No,No,No,No,No,No,Steady,No,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,61245,Caucasian,Male,65,1,6,2,5,82,0,...,No,No,No,No,No,No,Steady,No,Yes,0
101762,61246,Caucasian,Female,55,1,1,7,3,45,0,...,No,No,No,No,No,No,Down,Ch,Yes,1
101763,61247,AfricanAmerican,Male,55,1,1,7,5,70,1,...,Steady,No,No,No,No,No,Down,Ch,Yes,1
101764,61248,AfricanAmerican,Female,75,1,1,7,1,44,0,...,No,No,No,No,No,No,Steady,No,Yes,0
101765,61249,Caucasian,Female,55,1,1,7,6,45,0,...,No,No,No,No,Steady,No,Steady,Ch,Yes,0

In [12]:
#start by setting all values containing E or V into 0 (as one category)
df.loc[df['diag_1'].str.contains('V',na=False,case=False), 'diag_1'] = 0
df.loc[df['diag_1'].str.contains('E',na=False,case=False), 'diag_1'] = 0
df.loc[df['diag_2'].str.contains('V',na=False,case=False), 'diag_2'] = 0
df.loc[df['diag_2'].str.contains('E',na=False,case=False), 'diag_2'] = 0
df.loc[df['diag_3'].str.contains('V',na=False,case=False), 'diag_3'] = 0
df.loc[df['diag_3'].str.contains('E',na=False,case=False), 'diag_3'] = 0

#No all diag values can be converted into numeric values
df['diag_1'] = df['diag_1'].astype(float)
df['diag_2'] = df['diag_2'].astype(float)
df['diag_3'] = df['diag_3'].astype(float)

In [13]:
#Now we will reduce the number of categories in diag features according to ICD-9 code
#(Missing values will be grouped as E & V values)
df['diag_1'].loc[(df['diag_1']>=1) & (df['diag_1']< 140)] = 1
df['diag_1'].loc[(df['diag_1']>=140) & (df['diag_1']< 240)] = 2
df['diag_1'].loc[(df['diag_1']>=240) & (df['diag_1']< 280)] = 3
df['diag_1'].loc[(df['diag_1']>=280) & (df['diag_1']< 290)] = 4
df['diag_1'].loc[(df['diag_1']>=290) & (df['diag_1']< 320)] = 5
df['diag_1'].loc[(df['diag_1']>=320) & (df['diag_1']< 390)] = 6
df['diag_1'].loc[(df['diag_1']>=390) & (df['diag_1']< 460)] = 7
df['diag_1'].loc[(df['diag_1']>=460) & (df['diag_1']< 520)] = 8
df['diag_1'].loc[(df['diag_1']>=520) & (df['diag_1']< 580)] = 9
df['diag_1'].loc[(df['diag_1']>=580) & (df['diag_1']< 630)] = 10
df['diag_1'].loc[(df['diag_1']>=630) & (df['diag_1']< 680)] = 11
df['diag_1'].loc[(df['diag_1']>=680) & (df['diag_1']< 710)] = 12
df['diag_1'].loc[(df['diag_1']>=710) & (df['diag_1']< 740)] = 13
df['diag_1'].loc[(df['diag_1']>=740) & (df['diag_1']< 760)] = 14
df['diag_1'].loc[(df['diag_1']>=760) & (df['diag_1']< 780)] = 15
df['diag_1'].loc[(df['diag_1']>=780) & (df['diag_1']< 800)] = 16
df['diag_1'].loc[(df['diag_1']>=800) & (df['diag_1']< 1000)] = 17
df['diag_1'].loc[(df['diag_1']==-1)] = 0

df['diag_2'].loc[(df['diag_2']>=1) & (df['diag_2']< 140)] = 1
df['diag_2'].loc[(df['diag_2']>=140) & (df['diag_2']< 240)] = 2
df['diag_2'].loc[(df['diag_2']>=240) & (df['diag_2']< 280)] = 3
df['diag_2'].loc[(df['diag_2']>=280) & (df['diag_2']< 290)] = 4
df['diag_2'].loc[(df['diag_2']>=290) & (df['diag_2']< 320)] = 5
df['diag_2'].loc[(df['diag_2']>=320) & (df['diag_2']< 390)] = 6
df['diag_2'].loc[(df['diag_2']>=390) & (df['diag_2']< 460)] = 7
df['diag_2'].loc[(df['diag_2']>=460) & (df['diag_2']< 520)] = 8
df['diag_2'].loc[(df['diag_2']>=520) & (df['diag_2']< 580)] = 9
df['diag_2'].loc[(df['diag_2']>=580) & (df['diag_2']< 630)] = 10
df['diag_2'].loc[(df['diag_2']>=630) & (df['diag_2']< 680)] = 11
df['diag_2'].loc[(df['diag_2']>=680) & (df['diag_2']< 710)] = 12
df['diag_2'].loc[(df['diag_2']>=710) & (df['diag_2']< 740)] = 13
df['diag_2'].loc[(df['diag_2']>=740) & (df['diag_2']< 760)] = 14
df['diag_2'].loc[(df['diag_2']>=760) & (df['diag_2']< 780)] = 15
df['diag_2'].loc[(df['diag_2']>=780) & (df['diag_2']< 800)] = 16
df['diag_2'].loc[(df['diag_2']>=800) & (df['diag_2']< 1000)] = 17
df['diag_2'].loc[(df['diag_2']==-1)] = 0

df['diag_3'].loc[(df['diag_3']>=1) & (df['diag_3']< 140)] = 1
df['diag_3'].loc[(df['diag_3']>=140) & (df['diag_3']< 240)] = 2
df['diag_3'].loc[(df['diag_3']>=240) & (df['diag_3']< 280)] = 3
df['diag_3'].loc[(df['diag_3']>=280) & (df['diag_3']< 290)] = 4
df['diag_3'].loc[(df['diag_3']>=290) & (df['diag_3']< 320)] = 5
df['diag_3'].loc[(df['diag_3']>=320) & (df['diag_3']< 390)] = 6
df['diag_3'].loc[(df['diag_3']>=390) & (df['diag_3']< 460)] = 7
df['diag_3'].loc[(df['diag_3']>=460) & (df['diag_3']< 520)] = 8
df['diag_3'].loc[(df['diag_3']>=520) & (df['diag_3']< 580)] = 9
df['diag_3'].loc[(df['diag_3']>=580) & (df['diag_3']< 630)] = 10
df['diag_3'].loc[(df['diag_3']>=630) & (df['diag_3']< 680)] = 11
df['diag_3'].loc[(df['diag_3']>=680) & (df['diag_3']< 710)] = 12
df['diag_3'].loc[(df['diag_3']>=710) & (df['diag_3']< 740)] = 13
df['diag_3'].loc[(df['diag_3']>=740) & (df['diag_3']< 760)] = 14
df['diag_3'].loc[(df['diag_3']>=760) & (df['diag_3']< 780)] = 15
df['diag_3'].loc[(df['diag_3']>=780) & (df['diag_3']< 800)] = 16
df['diag_3'].loc[(df['diag_3']>=800) & (df['diag_3']< 1000)] = 17
df['diag_3'].loc[(df['diag_3']==-1)] = 0

c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [14]:
df

,id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesmed,readmitted
1,2,Caucasian,Female,15,1,1,7,3,59,0,...,No,No,No,No,No,No,Up,Ch,Yes,1
2,3,AfricanAmerican,Female,25,1,1,7,2,11,5,...,No,No,Steady,No,No,No,No,No,Yes,0
3,4,Caucasian,Male,35,1,1,7,2,44,1,...,No,No,No,No,No,No,Up,Ch,Yes,0
4,5,Caucasian,Male,45,1,1,7,1,51,0,...,No,No,Steady,No,No,No,Steady,Ch,Yes,0
5,6,Caucasian,Male,55,2,1,2,3,31,6,...,No,No,No,No,No,No,Steady,No,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,61245,Caucasian,Male,65,1,6,2,5,82,0,...,No,No,No,No,No,No,Steady,No,Yes,0
101762,61246,Caucasian,Female,55,1,1,7,3,45,0,...,No,No,No,No,No,No,Down,Ch,Yes,1
101763,61247,AfricanAmerican,Male,55,1,1,7,5,70,1,...,Steady,No,No,No,No,No,Down,Ch,Yes,1
101764,61248,AfricanAmerican,Female,75,1,1,7,1,44,0,...,No,No,No,No,No,No,Steady,No,Yes,0
101765,61249,Caucasian,Female,55,1,1,7,6,45,0,...,No,No,No,No,Steady,No,Steady,Ch,Yes,0

In [15]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

c = ['race','gender','metformin', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'insulin', "a1cresult", 'max_glu_serum','change',
'diabetesmed']
for i in c:
    df[i]=le.fit_transform(df[i])
df

,id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesmed,readmitted
1,2,2,0,15,1,1,7,3,59,0,...,1,1,1,1,1,1,3,0,1,1
2,3,0,0,25,1,1,7,2,11,5,...,1,1,2,1,1,1,1,1,1,0
3,4,2,1,35,1,1,7,2,44,1,...,1,1,1,1,1,1,3,0,1,0
4,5,2,1,45,1,1,7,1,51,0,...,1,1,2,1,1,1,2,0,1,0
5,6,2,1,55,2,1,2,3,31,6,...,1,1,1,1,1,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,61245,2,1,65,1,6,2,5,82,0,...,1,1,1,1,1,1,2,1,1,0
101762,61246,2,0,55,1,1,7,3,45,0,...,1,1,1,1,1,1,0,0,1,1
101763,61247,0,1,55,1,1,7,5,70,1,...,2,1,1,1,1,1,0,0,1,1
101764,61248,0,0,75,1,1,7,1,44,0,...,1,1,1,1,1,1,2,1,1,0
101765,61249,2,0,55,1,1,7,6,45,0,...,1,1,1,1,2,1,2,0,1,0

In [16]:
# Classify X and y Data

y = df['readmitted']
X = df.drop(columns = ['readmitted'])
X

,id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,a1cresult,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesmed
1,2,2,0,15,1,1,7,3,59,0,...,2,1,1,1,1,1,1,3,0,1
2,3,0,0,25,1,1,7,2,11,5,...,2,1,1,2,1,1,1,1,1,1
3,4,2,1,35,1,1,7,2,44,1,...,2,1,1,1,1,1,1,3,0,1
4,5,2,1,45,1,1,7,1,51,0,...,2,1,1,2,1,1,1,2,0,1
5,6,2,1,55,2,1,2,3,31,6,...,2,1,1,1,1,1,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,61245,2,1,65,1,6,2,5,82,0,...,3,1,1,1,1,1,1,2,1,1
101762,61246,2,0,55,1,1,7,3,45,0,...,2,1,1,1,1,1,1,0,0,1
101763,61247,0,1,55,1,1,7,5,70,1,...,2,2,1,1,1,1,1,0,0,1
101764,61248,0,0,75,1,1,7,1,44,0,...,2,1,1,1,1,1,1,2,1,1
101765,61249,2,0,55,1,1,7,6,45,0,...,2,1,1,1,1,2,1,2,0,1

In [17]:
# Create testing and training set

X_train,X_test,y_train,y_test = train_test_split(X,y, random_state = 6, stratify = y)

In [18]:

# Resample the training data with the RandomOversampler

#from collections import Counter
#Counter(y_train)
#from imblearn.over_sampling import RandomOverSampler
#sampler = RandomOverSampler(random_state =6)
#X_resampled, y_resampled = sampler.fit_resample(X_train, y_train)

#Counter(y_resampled)

In [19]:
import sklearn as skl
# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Randon Forest Classifier

In [20]:
# Create a random forest classifier.
model = RandomForestClassifier(n_estimators=128, random_state=6) 
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [21]:
# Making predictions using the testing data.
y_pred = model.predict(X_test_scaled)

In [22]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, y_pred)
acc_score

0.6469414628306931

In [23]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual NO", "Actual Readmitted"], columns=["Predicted NO", "Predicted Readmitted"])

cm_df

                   Predicted NO  Predicted Readmitted
Actual NO                  9830                  3625
Actual Readmitted          5223                  6383

In [24]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.65      0.73      0.69     13455
           1       0.64      0.55      0.59     11606

    accuracy                           0.65     25061
   macro avg       0.65      0.64      0.64     25061
weighted avg       0.65      0.65      0.64     25061

EasyEnsemble Classifier

In [25]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
model1 = EasyEnsembleClassifier(random_state= 6)

model1.fit(X_train_scaled,y_train)

EasyEnsembleClassifier(random_state=6)

In [26]:
#Obtaining predicted values
y_pred1 = model1.predict(X_test_scaled)

# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred1)

0.6354226497615598

In [27]:
# Display the confusion matrix

from sklearn.metrics import confusion_matrix, classification_report
cm1 = confusion_matrix(y_test, y_pred1)

# Create a DataFrame from the confusion matrix.
cm_df1 = pd.DataFrame(
    cm1, index=["Actual NO", "Actual Readmitted"], columns=["Predicted NO", "Predicted Readmitted"])

cm_df1

                   Predicted NO  Predicted Readmitted
Actual NO                  9093                  4362
Actual Readmitted          4700                  6906

In [28]:
# Print the imbalanced classification report

from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.66      0.68      0.60      0.67      0.63      0.41     13455
          1       0.61      0.60      0.68      0.60      0.63      0.40     11606

avg / total       0.64      0.64      0.63      0.64      0.63      0.40     25061

In [29]:
# Calculate feature importance in the Random Forest model.
importances = model.feature_importances_
importances

array([0.12351722, 0.02162159, 0.0181661 , 0.04729784, 0.02517503,
       0.04410414, 0.02055887, 0.05707182, 0.09446205, 0.03743559,
       0.08235856, 0.01803723, 0.01499165, 0.05403998, 0.05581445,
       0.05721478, 0.0566734 , 0.03867493, 0.00577932, 0.01865071,
       0.0141652 , 0.00723391, 0.01257535, 0.01137971, 0.00837958,
       0.00774613, 0.02640529, 0.01189447, 0.00857511])

In [30]:
# We can sort the features by their importance.
sorted(zip(model.feature_importances_, X.columns), reverse=True)

[(0.12351721667139927, 'id'),
 (0.09446204623122059, 'num_lab_procedures'),
 (0.0823585600951343, 'num_medications'),
 (0.0572147773219592, 'diag_2'),
 (0.05707182170229436, 'time_in_hospital'),
 (0.05667340029731995, 'diag_3'),
 (0.05581445276049057, 'diag_1'),
 (0.05403998118883713, 'number_inpatient'),
 (0.04729784175083487, 'age'),
 (0.04410413862361709, 'discharge_disposition_id'),
 (0.038674930132008026, 'number_diagnoses'),
 (0.03743558606704129, 'num_procedures'),
 (0.026405292377484787, 'insulin'),
 (0.025175032110297944, 'admission_type_id'),
 (0.021621591649539373, 'race'),
 (0.020558865976260464, 'admission_source_id'),
 (0.018650713308178815, 'a1cresult'),
 (0.018166095004614937, 'gender'),
 (0.0180372254731159, 'number_outpatient'),
 (0.014991645809833863, 'number_emergency'),
 (0.014165200354308152, 'metformin'),
 (0.012575351217222407, 'glipizide'),
 (0.01189446771848392, 'change'),
 (0.011379705675316274, 'glyburide'),
 (0.008575109073321475, 'diabetesmed'),
 (0.008379579430654567, 'pioglitazone'),
 (0.0077461341642010625, 'rosiglitazone'),
 (0.007233913724811903, 'glimepiride'),
 (0.005779324090197501, 'max_glu_serum')]

ANN Model

In [31]:
#Import Tensorflow module
import tensorflow as tf

# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

In [32]:
# Add our first Dense layer, including the input layer
inputs = len(X_train_scaled[0])

nodes_first_layer = 30
nodes_second_layer = 15
nodes_third_layer = 7

# Input Layer
nn_model.add(tf.keras.layers.Dense(units=nodes_first_layer, activation="tanh", input_dim=inputs))

# Second Layer
nn_model.add(tf.keras.layers.Dense(units=nodes_second_layer, activation="tanh"))

# Third Layer
nn_model.add(tf.keras.layers.Dense(units=nodes_third_layer, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units = 1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                900

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 7)                 112

 dense_3 (Dense)             (None, 1)                 8

=================================================================
Total params: 1,485
Trainable params: 1,485
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
2350/2350 [==============================] - 2s 677us/step - loss: 0.6515 - accuracy: 0.6176
Epoch 2/100
2350/2350 [==============================] - 2s 694us/step - loss: 0.6442 - accuracy: 0.6260
Epoch 3/100
2350/2350 [==============================] - 2s 672us/step - loss: 0.6413 - accuracy: 0.6303
Epoch 4/100
2350/2350 [==============================] - 2s 677us/step - loss: 0.6384 - accuracy: 0.6336
Epoch 5/100
2350/2350 [==============================] - 2s 689us/step - loss: 0.6358 - accuracy: 0.6382
Epoch 6/100
2350/2350 [==============================] - 2s 682us/step - loss: 0.6337 - accuracy: 0.6390
Epoch 7/100
2350/2350 [==============================] - 2s 697us/step - loss: 0.6314 - accuracy: 0.6420
Epoch 8/100
2350/2350 [==============================] - 2s 686us/step - loss: 0.6297 - accuracy: 0.6443
Epoch 9/100
2350/2350 [==============================] - 2s 718us/step - loss: 0.6279 - accuracy: 0.6463
Epoch 10/100
2350/2350 [==============================] - 2s 757us/step - loss: 0.6267 - accuracy: 0.6464
Epoch 11/100
2350/2350 [==============================] - 2s 689us/step - loss: 0.6255 - accuracy: 0.6473
Epoch 12/100
2350/2350 [==============================] - 2s 736us/step - loss: 0.6244 - accuracy: 0.6496
Epoch 13/100
2350/2350 [==============================] - 2s 753us/step - loss: 0.6236 - accuracy: 0.6497
Epoch 14/100
2350/2350 [==============================] - 2s 727us/step - loss: 0.6227 - accuracy: 0.6517
Epoch 15/100
2350/2350 [==============================] - 2s 704us/step - loss: 0.6215 - accuracy: 0.6508
Epoch 16/100
2350/2350 [==============================] - 2s 694us/step - loss: 0.6207 - accuracy: 0.6513
Epoch 17/100
2350/2350 [==============================] - 2s 739us/step - loss: 0.6199 - accuracy: 0.6516
Epoch 18/100
2350/2350 [==============================] - 2s 701us/step - loss: 0.6188 - accuracy: 0.6530
Epoch 19/100
2350/2350 [==============================] - 2s 708us/step - loss: 0.6179 - accuracy: 0.6543
Epoch 20/100
2350/2350 [==============================] - 2s 697us/step - loss: 0.6169 - accuracy: 0.6540
Epoch 21/100
2350/2350 [==============================] - 2s 695us/step - loss: 0.6160 - accuracy: 0.6561
Epoch 22/100
2350/2350 [==============================] - 2s 719us/step - loss: 0.6155 - accuracy: 0.6565
Epoch 23/100
2350/2350 [==============================] - 2s 703us/step - loss: 0.6144 - accuracy: 0.6569
Epoch 24/100
2350/2350 [==============================] - 2s 705us/step - loss: 0.6138 - accuracy: 0.6570
Epoch 25/100
2350/2350 [==============================] - 2s 745us/step - loss: 0.6132 - accuracy: 0.6562
Epoch 26/100
2350/2350 [==============================] - 2s 701us/step - loss: 0.6124 - accuracy: 0.6599
Epoch 27/100
2350/2350 [==============================] - 2s 690us/step - loss: 0.6118 - accuracy: 0.6592
Epoch 28/100
2350/2350 [==============================] - 2s 692us/step - loss: 0.6114 - accuracy: 0.6589
Epoch 29/100
2350/2350 [==============================] - 2s 703us/step - loss: 0.6110 - accuracy: 0.6594
Epoch 30/100
2350/2350 [==============================] - 2s 688us/step - loss: 0.6107 - accuracy: 0.6596
Epoch 31/100
2350/2350 [==============================] - 2s 738us/step - loss: 0.6099 - accuracy: 0.6604
Epoch 32/100
2350/2350 [==============================] - 2s 704us/step - loss: 0.6097 - accuracy: 0.6602
Epoch 33/100
2350/2350 [==============================] - 2s 721us/step - loss: 0.6093 - accuracy: 0.6609
Epoch 34/100
2350/2350 [==============================] - 2s 702us/step - loss: 0.6089 - accuracy: 0.6613
Epoch 35/100
2350/2350 [==============================] - 2s 691us/step - loss: 0.6086 - accuracy: 0.6611
Epoch 36/100
2350/2350 [==============================] - 2s 708us/step - loss: 0.6079 - accuracy: 0.6619
Epoch 37/100
2350/2350 [==============================] - 2s 711us/step - loss: 0.6077 - accuracy: 0.6611
Epoch 38/100
2350/2350 [==============================] - 2s 704us/step - loss: 0.6071 - accuracy: 0.6630
Epoch 39/100
2350/2350 [==============================] - 2s 722us/step - loss: 0.6071 - accuracy: 0.6619
Epoch 40/100
2350/2350 [==============================] - 2s 694us/step - loss: 0.6067 - accuracy: 0.6635
Epoch 41/100
2350/2350 [==============================] - 2s 767us/step - loss: 0.6065 - accuracy: 0.6629
Epoch 42/100
2350/2350 [==============================] - 2s 717us/step - loss: 0.6059 - accuracy: 0.6640
Epoch 43/100
2350/2350 [==============================] - 2s 701us/step - loss: 0.6058 - accuracy: 0.6647
Epoch 44/100
2350/2350 [==============================] - 2s 740us/step - loss: 0.6055 - accuracy: 0.6652
Epoch 45/100
2350/2350 [==============================] - 2s 688us/step - loss: 0.6052 - accuracy: 0.6632
Epoch 46/100
2350/2350 [==============================] - 2s 694us/step - loss: 0.6051 - accuracy: 0.6651
Epoch 47/100
2350/2350 [==============================] - 2s 752us/step - loss: 0.6049 - accuracy: 0.6640
Epoch 48/100
2350/2350 [==============================] - 2s 757us/step - loss: 0.6047 - accuracy: 0.6654
Epoch 49/100
2350/2350 [==============================] - 2s 700us/step - loss: 0.6045 - accuracy: 0.6655
Epoch 50/100
2350/2350 [==============================] - 2s 682us/step - loss: 0.6041 - accuracy: 0.6653
Epoch 51/100
2350/2350 [==============================] - 2s 681us/step - loss: 0.6040 - accuracy: 0.6645
Epoch 52/100
2350/2350 [==============================] - 2s 702us/step - loss: 0.6038 - accuracy: 0.6664
Epoch 53/100
2350/2350 [==============================] - 2s 701us/step - loss: 0.6035 - accuracy: 0.6655
Epoch 54/100
2350/2350 [==============================] - 2s 714us/step - loss: 0.6037 - accuracy: 0.6663
Epoch 55/100
2350/2350 [==============================] - 2s 739us/step - loss: 0.6033 - accuracy: 0.6661
Epoch 56/100
2350/2350 [==============================] - 2s 705us/step - loss: 0.6031 - accuracy: 0.6661
Epoch 57/100
2350/2350 [==============================] - 2s 684us/step - loss: 0.6032 - accuracy: 0.6656
Epoch 58/100
2350/2350 [==============================] - 2s 684us/step - loss: 0.6028 - accuracy: 0.6668
Epoch 59/100
2350/2350 [==============================] - 2s 685us/step - loss: 0.6028 - accuracy: 0.6669
Epoch 60/100
2350/2350 [==============================] - 2s 687us/step - loss: 0.6027 - accuracy: 0.6664
Epoch 61/100
2350/2350 [==============================] - 2s 702us/step - loss: 0.6026 - accuracy: 0.6677
Epoch 62/100
2350/2350 [==============================] - 2s 710us/step - loss: 0.6024 - accuracy: 0.6663
Epoch 63/100
2350/2350 [==============================] - 2s 759us/step - loss: 0.6023 - accuracy: 0.6677
Epoch 64/100
2350/2350 [==============================] - 2s 764us/step - loss: 0.6020 - accuracy: 0.6656
Epoch 65/100
2350/2350 [==============================] - 2s 726us/step - loss: 0.6021 - accuracy: 0.6680
Epoch 66/100
2350/2350 [==============================] - 2s 711us/step - loss: 0.6018 - accuracy: 0.6672
Epoch 67/100
2350/2350 [==============================] - 2s 711us/step - loss: 0.6018 - accuracy: 0.6677
Epoch 68/100
2350/2350 [==============================] - 2s 727us/step - loss: 0.6016 - accuracy: 0.6686
Epoch 69/100
2350/2350 [==============================] - 2s 698us/step - loss: 0.6016 - accuracy: 0.6679
Epoch 70/100
2350/2350 [==============================] - 2s 712us/step - loss: 0.6014 - accuracy: 0.6680
Epoch 71/100
2350/2350 [==============================] - 2s 713us/step - loss: 0.6013 - accuracy: 0.6672
Epoch 72/100
2350/2350 [==============================] - 2s 716us/step - loss: 0.6013 - accuracy: 0.6676
Epoch 73/100
2350/2350 [==============================] - 2s 708us/step - loss: 0.6011 - accuracy: 0.6693
Epoch 74/100
2350/2350 [==============================] - 2s 715us/step - loss: 0.6009 - accuracy: 0.6679
Epoch 75/100
2350/2350 [==============================] - 2s 701us/step - loss: 0.6009 - accuracy: 0.6677
Epoch 76/100
2350/2350 [==============================] - 2s 696us/step - loss: 0.6007 - accuracy: 0.6683
Epoch 77/100
2350/2350 [==============================] - 2s 709us/step - loss: 0.6006 - accuracy: 0.6662
Epoch 78/100
2350/2350 [==============================] - 2s 706us/step - loss: 0.6003 - accuracy: 0.6679
Epoch 79/100
2350/2350 [==============================] - 2s 707us/step - loss: 0.6002 - accuracy: 0.6683
Epoch 80/100
2350/2350 [==============================] - 2s 705us/step - loss: 0.6002 - accuracy: 0.6686
Epoch 81/100
2350/2350 [==============================] - 2s 722us/step - loss: 0.6002 - accuracy: 0.6680
Epoch 82/100
2350/2350 [==============================] - 2s 696us/step - loss: 0.5999 - accuracy: 0.6676
Epoch 83/100
2350/2350 [==============================] - 2s 697us/step - loss: 0.6002 - accuracy: 0.6687
Epoch 84/100
2350/2350 [==============================] - 2s 705us/step - loss: 0.5999 - accuracy: 0.6697
Epoch 85/100
2350/2350 [==============================] - 2s 688us/step - loss: 0.5998 - accuracy: 0.6683
Epoch 86/100
2350/2350 [==============================] - 2s 696us/step - loss: 0.5997 - accuracy: 0.6687
Epoch 87/100
2350/2350 [==============================] - 2s 699us/step - loss: 0.5994 - accuracy: 0.6677
Epoch 88/100
2350/2350 [==============================] - 2s 703us/step - loss: 0.5996 - accuracy: 0.6694
Epoch 89/100
2350/2350 [==============================] - 2s 698us/step - loss: 0.5993 - accuracy: 0.6687
Epoch 90/100
2350/2350 [==============================] - 2s 746us/step - loss: 0.5993 - accuracy: 0.6686
Epoch 91/100
2350/2350 [==============================] - 2s 712us/step - loss: 0.5992 - accuracy: 0.6692
Epoch 92/100
2350/2350 [==============================] - 2s 729us/step - loss: 0.5989 - accuracy: 0.6684
Epoch 93/100
2350/2350 [==============================] - 2s 707us/step - loss: 0.5990 - accuracy: 0.6695
Epoch 94/100
2350/2350 [==============================] - 2s 718us/step - loss: 0.5990 - accuracy: 0.6703
Epoch 95/100
2350/2350 [==============================] - 2s 716us/step - loss: 0.5989 - accuracy: 0.6699
Epoch 96/100
2350/2350 [==============================] - 2s 705us/step - loss: 0.5989 - accuracy: 0.6694
Epoch 97/100
2350/2350 [==============================] - 2s 704us/step - loss: 0.5988 - accuracy: 0.6691
Epoch 98/100
2350/2350 [==============================] - 2s 712us/step - loss: 0.5986 - accuracy: 0.6697
Epoch 99/100
2350/2350 [==============================] - 2s 700us/step - loss: 0.5984 - accuracy: 0.6696
Epoch 100/100
2350/2350 [==============================] - 2s 763us/step - loss: 0.5986 - accuracy: 0.6701

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

784/784 - 0s - loss: 0.6611 - accuracy: 0.6204 - 461ms/epoch - 588us/step
Loss: 0.6610776782035828, Accuracy: 0.6203663349151611