In [36]:
# Import Dependancies
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [37]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [38]:
#Create Psotgres Engine
engine = create_engine("postgresql://postgres:diabetes11@database-diabetes.cuk0oswvixih.us-east-2.rds.amazonaws.com/postgres")

In [39]:
#Read Table from PostgresSQL
df = pd.read_sql('SELECT * from diabetes_db',engine)

In [40]:
#Format the results column
df['readmitted']=df['readmitted'].replace('NO', 0)
df['readmitted']=df['readmitted'].replace('>30', 1)
df['readmitted']=df['readmitted'].replace('<30', 1)

In [41]:
# Replace ? with others in Race column
df['race'] = df['race'].replace('?', 'Other')
for i in range(0,10):
    df['age'] = df['age'].replace('['+str(10*i)+'-'+str(10*(i+1))+')', i*10+5)

In [42]:
# Replace ? with NAN for the entire table
import numpy as np
df = df.replace(r'\?', np.nan, regex=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 51 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        101766 non-null  int64
 1   encounter_id              101766 non-null  int64
 2   patient_nbr               101766 non-null  int64
 3   race                      101766 non-null  object
 4   gender                    101766 non-null  object
 5   age                       101766 non-null  int64
 6   weight                    3197 non-null    object
 7   admission_type_id         101766 non-null  int64
 8   discharge_disposition_id  101766 non-null  int64
 9   admission_source_id       101766 non-null  int64
 10  time_in_hospital          101766 non-null  int64
 11  payer_code                61510 non-null   object
 12  medical_specialty         51817 non-null   object
 13  num_lab_procedures        101766 non-null  int64
 14  num_procedures            101766 non-null  int64
 15  num_medications           101766 non-null  int64
 16  number_outpatient         101766 non-null  int64
 17  number_emergency          101766 non-null  int64
 18  number_inpatient          101766 non-null  int64
 19  diag_1                    101745 non-null  object
 20  diag_2                    101408 non-null  object
 21  diag_3                    100343 non-null  object
 22  number_diagnoses          101766 non-null  int64
 23  max_glu_serum             101766 non-null  object
 24  a1cresult                 101766 non-null  object
 25  metformin                 101766 non-null  object
 26  repaglinide               101766 non-null  object
 27  nateglinide               101766 non-null  object
 28  chlorpropamide            101766 non-null  object
 29  glimepiride               101766 non-null  object
 30  acetohexamide             101766 non-null  object
 31  glipizide                 101766 non-null  object
 32  glyburide                 101766 non-null  object
 33  tolbutamide               101766 non-null  object
 34  pioglitazone              101766 non-null  object
 35  rosiglitazone             101766 non-null  object
 36  acarbose                  101766 non-null  object
 37  miglitol                  101766 non-null  object
 38  troglitazone              101766 non-null  object
 39  tolazamide                101766 non-null  object
 40  examide                   101766 non-null  object
 41  citoglipton               101766 non-null  object
 42  insulin                   101766 non-null  object
 43  glyburide_metformin       101766 non-null  object
 44  glipizide_metformin       101766 non-null  object
 45  glimepiride_pioglitazone  101766 non-null  object
 46  metformin_rosiglitazone   101766 non-null  object
 47  metformin_pioglitazone    101766 non-null  object
 48  change                    101766 non-null  object
 49  diabetesmed               101766 non-null  object
 50  readmitted                101766 non-null  int64
dtypes: int64(16), object(35)
memory usage: 39.6+ MB

In [44]:
#Drop columns with missing data
features_drop_list = ['id','encounter_id', 'patient_nbr', 'weight', 'payer_code', 'medical_specialty', 'repaglinide', 'nateglinide', 'chlorpropamide', 'acarbose', 'miglitol', 'troglitazone', 
'tolazamide', 'examide', 'citoglipton', 'glyburide_metformin', 'glipizide_metformin',
 'glimepiride_pioglitazone', 'metformin_rosiglitazone','metformin_pioglitazone', 'acetohexamide', 'tolbutamide']

df.drop(features_drop_list, axis=1,inplace=True)

In [45]:
#Check NAN Values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   race                      101766 non-null  object
 1   gender                    101766 non-null  object
 2   age                       101766 non-null  int64
 3   admission_type_id         101766 non-null  int64
 4   discharge_disposition_id  101766 non-null  int64
 5   admission_source_id       101766 non-null  int64
 6   time_in_hospital          101766 non-null  int64
 7   num_lab_procedures        101766 non-null  int64
 8   num_procedures            101766 non-null  int64
 9   num_medications           101766 non-null  int64
 10  number_outpatient         101766 non-null  int64
 11  number_emergency          101766 non-null  int64
 12  number_inpatient          101766 non-null  int64
 13  diag_1                    101745 non-null  object
 14  diag_2                    101408 non-null  object
 15  diag_3                    100343 non-null  object
 16  number_diagnoses          101766 non-null  int64
 17  max_glu_serum             101766 non-null  object
 18  a1cresult                 101766 non-null  object
 19  metformin                 101766 non-null  object
 20  glimepiride               101766 non-null  object
 21  glipizide                 101766 non-null  object
 22  glyburide                 101766 non-null  object
 23  pioglitazone              101766 non-null  object
 24  rosiglitazone             101766 non-null  object
 25  insulin                   101766 non-null  object
 26  change                    101766 non-null  object
 27  diabetesmed               101766 non-null  object
 28  readmitted                101766 non-null  int64
dtypes: int64(13), object(16)
memory usage: 22.5+ MB

In [46]:
#Drop NAN Values
df= df.dropna()
df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesmed,readmitted
1,Caucasian,Female,15,1,1,7,3,59,0,18,...,No,No,No,No,No,No,Up,Ch,Yes,1
2,AfricanAmerican,Female,25,1,1,7,2,11,5,13,...,No,No,Steady,No,No,No,No,No,Yes,0
3,Caucasian,Male,35,1,1,7,2,44,1,16,...,No,No,No,No,No,No,Up,Ch,Yes,0
4,Caucasian,Male,45,1,1,7,1,51,0,8,...,No,No,Steady,No,No,No,Steady,Ch,Yes,0
5,Caucasian,Male,55,2,1,2,3,31,6,16,...,No,No,No,No,No,No,Steady,No,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,Caucasian,Male,65,1,6,2,5,82,0,25,...,No,No,No,No,No,No,Steady,No,Yes,0
101762,Caucasian,Female,55,1,1,7,3,45,0,12,...,No,No,No,No,No,No,Down,Ch,Yes,1
101763,AfricanAmerican,Male,55,1,1,7,5,70,1,19,...,Steady,No,No,No,No,No,Down,Ch,Yes,1
101764,AfricanAmerican,Female,75,1,1,7,1,44,0,4,...,No,No,No,No,No,No,Steady,No,Yes,0
101765,Caucasian,Female,55,1,1,7,6,45,0,18,...,No,No,No,No,Steady,No,Steady,Ch,Yes,0

In [47]:
#start by setting all values containing E or V into 0 (as one category)
df.loc[df['diag_1'].str.contains('V',na=False,case=False), 'diag_1'] = 0
df.loc[df['diag_1'].str.contains('E',na=False,case=False), 'diag_1'] = 0
df.loc[df['diag_2'].str.contains('V',na=False,case=False), 'diag_2'] = 0
df.loc[df['diag_2'].str.contains('E',na=False,case=False), 'diag_2'] = 0
df.loc[df['diag_3'].str.contains('V',na=False,case=False), 'diag_3'] = 0
df.loc[df['diag_3'].str.contains('E',na=False,case=False), 'diag_3'] = 0

#No all diag values can be converted into numeric values
df['diag_1'] = df['diag_1'].astype(float)
df['diag_2'] = df['diag_2'].astype(float)
df['diag_3'] = df['diag_3'].astype(float)

In [48]:
#Now we will reduce the number of categories in diag features according to ICD-9 code
#(Missing values will be grouped as E & V values)
df['diag_1'].loc[(df['diag_1']>=1) & (df['diag_1']< 140)] = 1
df['diag_1'].loc[(df['diag_1']>=140) & (df['diag_1']< 240)] = 2
df['diag_1'].loc[(df['diag_1']>=240) & (df['diag_1']< 280)] = 3
df['diag_1'].loc[(df['diag_1']>=280) & (df['diag_1']< 290)] = 4
df['diag_1'].loc[(df['diag_1']>=290) & (df['diag_1']< 320)] = 5
df['diag_1'].loc[(df['diag_1']>=320) & (df['diag_1']< 390)] = 6
df['diag_1'].loc[(df['diag_1']>=390) & (df['diag_1']< 460)] = 7
df['diag_1'].loc[(df['diag_1']>=460) & (df['diag_1']< 520)] = 8
df['diag_1'].loc[(df['diag_1']>=520) & (df['diag_1']< 580)] = 9
df['diag_1'].loc[(df['diag_1']>=580) & (df['diag_1']< 630)] = 10
df['diag_1'].loc[(df['diag_1']>=630) & (df['diag_1']< 680)] = 11
df['diag_1'].loc[(df['diag_1']>=680) & (df['diag_1']< 710)] = 12
df['diag_1'].loc[(df['diag_1']>=710) & (df['diag_1']< 740)] = 13
df['diag_1'].loc[(df['diag_1']>=740) & (df['diag_1']< 760)] = 14
df['diag_1'].loc[(df['diag_1']>=760) & (df['diag_1']< 780)] = 15
df['diag_1'].loc[(df['diag_1']>=780) & (df['diag_1']< 800)] = 16
df['diag_1'].loc[(df['diag_1']>=800) & (df['diag_1']< 1000)] = 17
df['diag_1'].loc[(df['diag_1']==-1)] = 0

df['diag_2'].loc[(df['diag_2']>=1) & (df['diag_2']< 140)] = 1
df['diag_2'].loc[(df['diag_2']>=140) & (df['diag_2']< 240)] = 2
df['diag_2'].loc[(df['diag_2']>=240) & (df['diag_2']< 280)] = 3
df['diag_2'].loc[(df['diag_2']>=280) & (df['diag_2']< 290)] = 4
df['diag_2'].loc[(df['diag_2']>=290) & (df['diag_2']< 320)] = 5
df['diag_2'].loc[(df['diag_2']>=320) & (df['diag_2']< 390)] = 6
df['diag_2'].loc[(df['diag_2']>=390) & (df['diag_2']< 460)] = 7
df['diag_2'].loc[(df['diag_2']>=460) & (df['diag_2']< 520)] = 8
df['diag_2'].loc[(df['diag_2']>=520) & (df['diag_2']< 580)] = 9
df['diag_2'].loc[(df['diag_2']>=580) & (df['diag_2']< 630)] = 10
df['diag_2'].loc[(df['diag_2']>=630) & (df['diag_2']< 680)] = 11
df['diag_2'].loc[(df['diag_2']>=680) & (df['diag_2']< 710)] = 12
df['diag_2'].loc[(df['diag_2']>=710) & (df['diag_2']< 740)] = 13
df['diag_2'].loc[(df['diag_2']>=740) & (df['diag_2']< 760)] = 14
df['diag_2'].loc[(df['diag_2']>=760) & (df['diag_2']< 780)] = 15
df['diag_2'].loc[(df['diag_2']>=780) & (df['diag_2']< 800)] = 16
df['diag_2'].loc[(df['diag_2']>=800) & (df['diag_2']< 1000)] = 17
df['diag_2'].loc[(df['diag_2']==-1)] = 0

df['diag_3'].loc[(df['diag_3']>=1) & (df['diag_3']< 140)] = 1
df['diag_3'].loc[(df['diag_3']>=140) & (df['diag_3']< 240)] = 2
df['diag_3'].loc[(df['diag_3']>=240) & (df['diag_3']< 280)] = 3
df['diag_3'].loc[(df['diag_3']>=280) & (df['diag_3']< 290)] = 4
df['diag_3'].loc[(df['diag_3']>=290) & (df['diag_3']< 320)] = 5
df['diag_3'].loc[(df['diag_3']>=320) & (df['diag_3']< 390)] = 6
df['diag_3'].loc[(df['diag_3']>=390) & (df['diag_3']< 460)] = 7
df['diag_3'].loc[(df['diag_3']>=460) & (df['diag_3']< 520)] = 8
df['diag_3'].loc[(df['diag_3']>=520) & (df['diag_3']< 580)] = 9
df['diag_3'].loc[(df['diag_3']>=580) & (df['diag_3']< 630)] = 10
df['diag_3'].loc[(df['diag_3']>=630) & (df['diag_3']< 680)] = 11
df['diag_3'].loc[(df['diag_3']>=680) & (df['diag_3']< 710)] = 12
df['diag_3'].loc[(df['diag_3']>=710) & (df['diag_3']< 740)] = 13
df['diag_3'].loc[(df['diag_3']>=740) & (df['diag_3']< 760)] = 14
df['diag_3'].loc[(df['diag_3']>=760) & (df['diag_3']< 780)] = 15
df['diag_3'].loc[(df['diag_3']>=780) & (df['diag_3']< 800)] = 16
df['diag_3'].loc[(df['diag_3']>=800) & (df['diag_3']< 1000)] = 17
df['diag_3'].loc[(df['diag_3']==-1)] = 0

c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [49]:
def disease_name(data):
    
    data = data.replace(1,"Infectious and Parasitic Diseases")
    data = data.replace(2,"Neoplasms")
    data = data.replace(3,"Endocrine, Metabolic and Immunity disorder")
    data = data.replace(4, "Disease of Blood-Forming Organs")
    data = data.replace(5, "Mental Disorders")
    data = data.replace(6, "Disease of Nervous System")
    data = data.replace(7,"Disease of Respiratory System")
    data = data.replace(8,"Disease of Circulatory System")
    data = data.replace(9, "Disease of the Digestive System")
    data = data.replace(10, "Disease of the Genitourinary System")
    data = data.replace(11, "Complications of Preganancy, Childbirth")
    data = data.replace(12, "Diseases of Skin")
    data = data.replace(13, "Diseases of the Musculoskeletal System")
    data = data.replace(14, "Congenital Anomalies")
    data = data.replace(15, "Perinatal Period Complications")
    data = data.replace(16, "Ill-Defined Conditions")
    data = data.replace(17, " Injury and Poisoning")
    data = data.replace(0, " External Causes of Injury")

    return data

In [51]:
df.to_csv('tableau_data2.csv')

In [52]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

c = ['race','gender','metformin', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'insulin', "a1cresult", 'max_glu_serum','change',
'diabetesmed','diag_1','diag_2','diag_3']
for i in c:
    df[i]=le.fit_transform(df[i])
df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesmed,readmitted
1,2,0,15,1,1,7,3,59,0,18,...,1,1,1,1,1,1,3,0,1,1
2,0,0,25,1,1,7,2,11,5,13,...,1,1,2,1,1,1,1,1,1,0
3,2,1,35,1,1,7,2,44,1,16,...,1,1,1,1,1,1,3,0,1,0
4,2,1,45,1,1,7,1,51,0,8,...,1,1,2,1,1,1,2,0,1,0
5,2,1,55,2,1,2,3,31,6,16,...,1,1,1,1,1,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,2,1,65,1,6,2,5,82,0,25,...,1,1,1,1,1,1,2,1,1,0
101762,2,0,55,1,1,7,3,45,0,12,...,1,1,1,1,1,1,0,0,1,1
101763,0,1,55,1,1,7,5,70,1,19,...,2,1,1,1,1,1,0,0,1,1
101764,0,0,75,1,1,7,1,44,0,4,...,1,1,1,1,1,1,2,1,1,0
101765,2,0,55,1,1,7,6,45,0,18,...,1,1,1,1,2,1,2,0,1,0

In [53]:
# Classify X and y Data

y = df['readmitted']
X = df.drop(columns = ['readmitted'])
X

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,a1cresult,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesmed
1,2,0,15,1,1,7,3,59,0,18,...,2,1,1,1,1,1,1,3,0,1
2,0,0,25,1,1,7,2,11,5,13,...,2,1,1,2,1,1,1,1,1,1
3,2,1,35,1,1,7,2,44,1,16,...,2,1,1,1,1,1,1,3,0,1
4,2,1,45,1,1,7,1,51,0,8,...,2,1,1,2,1,1,1,2,0,1
5,2,1,55,2,1,2,3,31,6,16,...,2,1,1,1,1,1,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,2,1,65,1,6,2,5,82,0,25,...,3,1,1,1,1,1,1,2,1,1
101762,2,0,55,1,1,7,3,45,0,12,...,2,1,1,1,1,1,1,0,0,1
101763,0,1,55,1,1,7,5,70,1,19,...,2,2,1,1,1,1,1,0,0,1
101764,0,0,75,1,1,7,1,44,0,4,...,2,1,1,1,1,1,1,2,1,1
101765,2,0,55,1,1,7,6,45,0,18,...,2,1,1,1,1,2,1,2,0,1

In [54]:
# Create testing and training set

X_train,X_test,y_train,y_test = train_test_split(X,y, random_state = 6, stratify = y)

In [55]:

# Resample the training data with the RandomOversampler

#from collections import Counter
#Counter(y_train)
#from imblearn.over_sampling import RandomOverSampler
#sampler = RandomOverSampler(random_state =6)
#X_resampled, y_resampled = sampler.fit_resample(X_train, y_train)

#Counter(y_resampled)

In [56]:
import sklearn as skl
# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Randon Forest Classifier

In [57]:
# Create a random forest classifier.
model = RandomForestClassifier(n_estimators=128, random_state=6) 
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [58]:
# Making predictions using the testing data.
y_pred = model.predict(X_test_scaled)

In [59]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, y_pred)
acc_score

0.6344519372730537

In [60]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual NO", "Actual Readmitted"], columns=["Predicted NO", "Predicted Readmitted"])

cm_df

                   Predicted NO  Predicted Readmitted
Actual NO                  9777                  3678
Actual Readmitted          5483                  6123

In [75]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.73      0.68     13455
           1       0.62      0.53      0.57     11606

    accuracy                           0.63     25061
   macro avg       0.63      0.63      0.63     25061
weighted avg       0.63      0.63      0.63     25061

EasyEnsemble Classifier

In [62]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
model1 = EasyEnsembleClassifier(random_state= 6)

model1.fit(X_train_scaled,y_train)

EasyEnsembleClassifier(random_state=6)

In [63]:
#Obtaining predicted values
y_pred1 = model1.predict(X_test_scaled)

# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred1)

0.6232541754149767

In [64]:
# Display the confusion matrix

from sklearn.metrics import confusion_matrix, classification_report
cm1 = confusion_matrix(y_test, y_pred1)

# Create a DataFrame from the confusion matrix.
cm_df1 = pd.DataFrame(
    cm1, index=["Actual NO", "Actual Readmitted"], columns=["Predicted NO", "Predicted Readmitted"])

cm_df1

                   Predicted NO  Predicted Readmitted
Actual NO                  9351                  4104
Actual Readmitted          5205                  6401

In [65]:
# Print the imbalanced classification report

from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.64      0.69      0.55      0.67      0.62      0.39     13455
          1       0.61      0.55      0.69      0.58      0.62      0.38     11606

avg / total       0.63      0.63      0.62      0.63      0.62      0.38     25061

In [66]:
# Calculate feature importance in the Random Forest model.
importances = model.feature_importances_
importances

array([0.02480792, 0.02137745, 0.05374618, 0.0286234 , 0.04837498,
       0.02269139, 0.06650349, 0.11288876, 0.04309061, 0.09617709,
       0.01875946, 0.01591414, 0.0542044 , 0.06558609, 0.0667107 ,
       0.06646782, 0.04396274, 0.00673569, 0.02172048, 0.01586259,
       0.00838603, 0.01410477, 0.0132264 , 0.00970608, 0.00882847,
       0.02931719, 0.01318487, 0.00904082])

In [67]:
# We can sort the features by their importance.
sorted(zip(model.feature_importances_, X.columns), reverse=True)

[(0.112888764834613, 'num_lab_procedures'),
 (0.0961770868789414, 'num_medications'),
 (0.0667107038581657, 'diag_2'),
 (0.06650349004961391, 'time_in_hospital'),
 (0.0664678229065062, 'diag_3'),
 (0.06558608757181367, 'diag_1'),
 (0.0542043965540842, 'number_inpatient'),
 (0.05374617554996543, 'age'),
 (0.04837498313742764, 'discharge_disposition_id'),
 (0.04396273812160828, 'number_diagnoses'),
 (0.043090608424229584, 'num_procedures'),
 (0.02931719349825747, 'insulin'),
 (0.028623399129320045, 'admission_type_id'),
 (0.024807921845381393, 'race'),
 (0.02269138979074753, 'admission_source_id'),
 (0.021720476158345, 'a1cresult'),
 (0.02137745131338332, 'gender'),
 (0.0187594616329372, 'number_outpatient'),
 (0.015914137299198387, 'number_emergency'),
 (0.015862594491315808, 'metformin'),
 (0.01410476679813074, 'glipizide'),
 (0.013226399783098317, 'glyburide'),
 (0.013184874154884606, 'change'),
 (0.0097060767666903, 'pioglitazone'),
 (0.00904081566923321, 'diabetesmed'),
 (0.008828466744366088, 'rosiglitazone'),
 (0.008386031180158992, 'glimepiride'),
 (0.006735685857582653, 'max_glu_serum')]

ANN Model

In [68]:
#Import Tensorflow module
import tensorflow as tf

# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

In [69]:
# Add our first Dense layer, including the input layer
inputs = len(X_train_scaled[0])

nodes_first_layer = 30
nodes_second_layer = 15
nodes_third_layer = 7

# Input Layer
nn_model.add(tf.keras.layers.Dense(units=nodes_first_layer, activation="tanh", input_dim=inputs))

# Second Layer
nn_model.add(tf.keras.layers.Dense(units=nodes_second_layer, activation="tanh"))

# Third Layer
nn_model.add(tf.keras.layers.Dense(units=nodes_third_layer, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units = 1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 30)                870

 dense_5 (Dense)             (None, 15)                465

 dense_6 (Dense)             (None, 7)                 112

 dense_7 (Dense)             (None, 1)                 8

=================================================================
Total params: 1,455
Trainable params: 1,455
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [71]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6554 - accuracy: 0.6141
Epoch 2/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6467 - accuracy: 0.6252
Epoch 3/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6435 - accuracy: 0.6269
Epoch 4/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6419 - accuracy: 0.6301
Epoch 5/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6404 - accuracy: 0.6301
Epoch 6/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6389 - accuracy: 0.6321
Epoch 7/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6376 - accuracy: 0.6328
Epoch 8/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6364 - accuracy: 0.6351
Epoch 9/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6355 - accuracy: 0.6368
Epoch 10/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6343 - accuracy: 0.6369
Epoch 11/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6336 - accuracy: 0.6389
Epoch 12/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6327 - accuracy: 0.6389
Epoch 13/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6316 - accuracy: 0.6397
Epoch 14/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6306 - accuracy: 0.6407
Epoch 15/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6300 - accuracy: 0.6421
Epoch 16/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6293 - accuracy: 0.6425
Epoch 17/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6286 - accuracy: 0.6432
Epoch 18/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6275 - accuracy: 0.6451
Epoch 19/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6270 - accuracy: 0.6448
Epoch 20/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6262 - accuracy: 0.6454
Epoch 21/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6256 - accuracy: 0.6444
Epoch 22/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6249 - accuracy: 0.6462
Epoch 23/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6244 - accuracy: 0.6466
Epoch 24/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6239 - accuracy: 0.6473
Epoch 25/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6232 - accuracy: 0.6485
Epoch 26/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6230 - accuracy: 0.6490
Epoch 27/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6223 - accuracy: 0.6488
Epoch 28/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6220 - accuracy: 0.6490
Epoch 29/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6213 - accuracy: 0.6516
Epoch 30/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6213 - accuracy: 0.6498
Epoch 31/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6209 - accuracy: 0.6509
Epoch 32/100
2350/2350 [==============================] - 7s 3ms/step - loss: 0.6203 - accuracy: 0.6505
Epoch 33/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6200 - accuracy: 0.6513
Epoch 34/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6197 - accuracy: 0.6509
Epoch 35/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6195 - accuracy: 0.6512
Epoch 36/100
2350/2350 [==============================] - 5s 2ms/step - loss: 0.6191 - accuracy: 0.6504
Epoch 37/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6187 - accuracy: 0.6513
Epoch 38/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6183 - accuracy: 0.6506
Epoch 39/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6179 - accuracy: 0.6517
Epoch 40/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6176 - accuracy: 0.6513
Epoch 41/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6172 - accuracy: 0.6520
Epoch 42/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6172 - accuracy: 0.6536
Epoch 43/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6168 - accuracy: 0.6515
Epoch 44/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6167 - accuracy: 0.6527
Epoch 45/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6163 - accuracy: 0.6522
Epoch 46/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6159 - accuracy: 0.6534
Epoch 47/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6158 - accuracy: 0.6526
Epoch 48/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6154 - accuracy: 0.6529
Epoch 49/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6152 - accuracy: 0.6530
Epoch 50/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6147 - accuracy: 0.6546
Epoch 51/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6146 - accuracy: 0.6546
Epoch 52/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6146 - accuracy: 0.6539
Epoch 53/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6144 - accuracy: 0.6551
Epoch 54/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6139 - accuracy: 0.6553
Epoch 55/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6138 - accuracy: 0.6554
Epoch 56/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6138 - accuracy: 0.6551
Epoch 57/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6134 - accuracy: 0.6545
Epoch 58/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6131 - accuracy: 0.6555
Epoch 59/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6131 - accuracy: 0.6564
Epoch 60/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6129 - accuracy: 0.6562
Epoch 61/100
2350/2350 [==============================] - 5s 2ms/step - loss: 0.6124 - accuracy: 0.6566
Epoch 62/100
2350/2350 [==============================] - 5s 2ms/step - loss: 0.6124 - accuracy: 0.6567
Epoch 63/100
2350/2350 [==============================] - 4s 2ms/step - loss: 0.6123 - accuracy: 0.6567
Epoch 64/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6120 - accuracy: 0.6573
Epoch 65/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6120 - accuracy: 0.6561
Epoch 66/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6117 - accuracy: 0.6563
Epoch 67/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6115 - accuracy: 0.6572
Epoch 68/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6112 - accuracy: 0.6557
Epoch 69/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6114 - accuracy: 0.6583
Epoch 70/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6111 - accuracy: 0.6571
Epoch 71/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6108 - accuracy: 0.6566
Epoch 72/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6107 - accuracy: 0.6577
Epoch 73/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6106 - accuracy: 0.6590
Epoch 74/100
2350/2350 [==============================] - 3s 1ms/step - loss: 0.6104 - accuracy: 0.6582
Epoch 75/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6104 - accuracy: 0.6586
Epoch 76/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6102 - accuracy: 0.6586
Epoch 77/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6101 - accuracy: 0.6578
Epoch 78/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6097 - accuracy: 0.6581
Epoch 79/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6100 - accuracy: 0.6583
Epoch 80/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6098 - accuracy: 0.6582
Epoch 81/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6099 - accuracy: 0.6583
Epoch 82/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6097 - accuracy: 0.6575
Epoch 83/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6094 - accuracy: 0.6600
Epoch 84/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6094 - accuracy: 0.6591
Epoch 85/100
2350/2350 [==============================] - 11s 4ms/step - loss: 0.6094 - accuracy: 0.6594
Epoch 86/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6092 - accuracy: 0.6596
Epoch 87/100
2350/2350 [==============================] - 11s 4ms/step - loss: 0.6091 - accuracy: 0.6602
Epoch 88/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6089 - accuracy: 0.6594
Epoch 89/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6090 - accuracy: 0.6605
Epoch 90/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6087 - accuracy: 0.6606
Epoch 91/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6085 - accuracy: 0.6597
Epoch 92/100
2350/2350 [==============================] - 11s 4ms/step - loss: 0.6086 - accuracy: 0.6602
Epoch 93/100
2350/2350 [==============================] - 11s 4ms/step - loss: 0.6085 - accuracy: 0.6601
Epoch 94/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6083 - accuracy: 0.6594
Epoch 95/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6085 - accuracy: 0.6603
Epoch 96/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6080 - accuracy: 0.6602
Epoch 97/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6080 - accuracy: 0.6603
Epoch 98/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6082 - accuracy: 0.6609
Epoch 99/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6079 - accuracy: 0.6597
Epoch 100/100
2350/2350 [==============================] - 11s 5ms/step - loss: 0.6081 - accuracy: 0.6599

In [72]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

784/784 - 3s - loss: 0.6647 - accuracy: 0.6088 - 3s/epoch - 4ms/step
Loss: 0.6647469401359558, Accuracy: 0.608834445476532