In [1]:
# Import Dependancies
import pandas as pd
from path import Path
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
# Load data
file_path = "../clean_data.csv"
df2 = pd.read_csv(file_path)
df2.head()

,id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
0,1,Caucasian,Female,5,6,25,1,1,41,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Caucasian,Female,15,1,1,7,3,59,0,...,0,0,0,0,0,0,3,1,1,1
2,3,AfricanAmerican,Female,25,1,1,7,2,11,5,...,0,0,2,0,0,0,0,0,1,0
3,4,Caucasian,Male,35,1,1,7,2,44,1,...,0,0,0,0,0,0,3,1,1,0
4,5,Caucasian,Male,45,1,1,7,1,51,0,...,0,0,2,0,0,0,2,1,1,0

In [3]:
#Encoding the Data
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse = False)

#Encode Column Race
encode_df = pd.DataFrame(enc.fit_transform(df2.race.values.reshape(-1,1)))

#Rename encoded columns
encode_df.columns = enc.get_feature_names(['race'])
encode_df.head()

# Merge Dataframes
df2 = df2.merge(encode_df,left_index=True,right_index=True)

c:\Users\Rahul\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [4]:
# Drop Encoded Columns and ID Column

df2.drop(columns = ['race','gender','id'], inplace = True)

In [5]:
# Classify X and y Data

y = df2['readmitted']
X = df2.drop(columns = 'readmitted')

In [6]:
# Create testing and training set

X_train,X_test,y_train,y_test = train_test_split(X,y, train_size = 0.7, random_state = 6, stratify = y)

In [7]:
df2.head()

,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,rosiglitazone,insulin,change,diabetesMed,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other
0,5,6,25,1,1,41,0,1,0,0,...,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0
1,15,1,1,7,3,59,0,18,0,0,...,0,3,1,1,1,0.0,0.0,1.0,0.0,0.0
2,25,1,1,7,2,11,5,13,2,0,...,0,0,0,1,0,1.0,0.0,0.0,0.0,0.0
3,35,1,1,7,2,44,1,16,0,0,...,0,3,1,1,0,0.0,0.0,1.0,0.0,0.0
4,45,1,1,7,1,51,0,8,0,0,...,0,2,1,1,0,0.0,0.0,1.0,0.0,0.0

In [8]:
# Create the model
model = SVC(kernel='linear')

model.fit(X_train, y_train)

In [ ]:
# Predict the output
y_pred = model.predict(X_test)

In [ ]:
# Calculate the accuracy

accuracy_score(y_test, y_pred)

In [ ]:
# Calculate Confusion Matrix
confusion_matrix(y_test, y_pred)

# Print Report
print(classification_report(y_test, y_pred))